<div class="fa16">
<p><h2>
Fall 2016
</h2></p>
<p>Projects: </p>
<p><h2>DiceOut</h2></p>
<p>DiceOut is an android app that simulates a popular gambling game called Sic Bo. It was my first Android App. The Github repo can be found <a href ="https://github.com/copperstick6/DiceOut">here</a></p>
<p></p>
<p><h2>VolunNear:</h2></p>
<p></p>
<div style="text-align:center"><p> <img src = "volunnear.jpg" width = "280" height = "200"></p></div>
<p>Volun-near is an Android application that matches nearby users to a constantly updated list of volunteer opportunities. It was created during MLHPrime 2016. The Github Repo can be found <a href ="https://github.com/JGOOSH/MLHPrimeAustin">here</a>, and the Devpost for the project can be found <a href ="https://devpost.com/software/mlhprimeaustin">here</a>.</p>
<p></p>
<p><h2>SAFE</p></h2>
<b><em>Won HackTX's JPMorgan Chase Best Hack for Social Good<em></b>
<div style="text-align:center"><p> <img src = "hacktx.jpg" width = "200" height = "130"></p></div>
<p>SAFE is an android app that is devoted towards helping the user identify a direction to their target location that is the most safe. We take crime data and draw a path for the user that avoids locations in which crimes have happened. The Github Repo can be found <a href ="https://github.com/copperstick6/HackTX-SAFE">here</a>, and the Devpost can be found <a href ="https://devpost.com/software/hacktx-safe">here</a>.</p>
<p></p>
</div>
