<div class="orgs">
<p><h2>
Orgs I'm involved in:
</h2></p>
<ul>
<li>Freetail Hackers Tech Team- Responsible for all technology involved with our premier event, HackTX, every year </li>
<li>ISSS (Information Systems Security Society) Logistics Officer/Ex-VP/Ex-Engineering Lead- Was responsible for overall administration of the club and ensuring the success of Security Day</li>
<li>CS Roadshow Logistics Officer - Responsible for all logistics in the club with all events</li>
</ul>
</div>
