<div class="projects">
<p><h2>
Spring 2017
</h2></p>
<p>Type {{command "sp17"}} to view all my projects for this semester.</p>
<p>Type {{command "sp17c"}} to view all my open source contributions this semester.
<p></p>
<p><h2>
Fall 2016
</h2></p>
<p>Type {{command "fa16"}} to view all my projects for this semester.</p>
<p>Unfortunately, I didn't contribute to any Open Source projects this semester =/</p>
</div>
