<div class = "rapiddiligence">
<p></p>
<div style="text-align:center"><p> <img src = "rapid.png" width = "370" height = "180"></p></div>
<p>Rapid Diligence is a web and desktop solution that provides due diligence reports for those looking to
purchase and sell web based e-commerce businesses. You can visit the website <a href = "http://rapiddiligence.com/">here</a> and sign up for closed beta.</p>
<p>I worked as a fullstack developer. Through this project, I learned how to prototype quickly using MeteorJS for our frontend,
 Maven for our backend, and Java for our PDF desktop app. A demo can be provided upon request.</p>
</div>
