<div class = "school">
  <p><h2>
  Spring 2017
  </h2></p>
  <p> Classes Taken: CS429 Computer Architecture, CS378 Longhorn Startup </p>
  <p>Type in {{command "cs429"}} to see my school projects from CS429.</p>
  <p>Type in {{command "rapiddiligence"}} to see my Longhorn Startup project.</p>
  <br></br>
  <p><h2>
  Fall 2016
  </h2></p>
  <p> Classes Taken: CS314 Data Structures, CS311 Discrete Mathematics </p>
  <p>Type in {{command "cs314"}} to see my projects in Data Structures</p>
</div>
