<div class="sp17c">
<p><h2>
Spring 2017 Open Source Contributions
</h2></p>
<p></p>
<p>ISSS WebShell</p>
<p>Updated the ISSS website and added new features. You can visit it <a href ="isss.io">here</a>. The Github repo can be found <a href ="https://github.com/theBrianCui/ISSS_webShell">here</a></p>
<p></p>
<p>Gavel</p>
<p>Gavel is a hackathon judging application created by a MIT hackathon organizer. It can be found <a href ="https://github.com/anishathalye/gavel">here</a>. My commit can be found <a href ="https://github.com/anishathalye/gavel/commit/23625195351aa26bf660b4f3c5014ed1b2963f0e">here</a>. I added
a button that allowed users to upload raw judging and project data via a xlsx/csv upload button. I used Python's xlrd package to create this feature, and added a button in the templating to allow user to interact with the feature.</p>
</div>
