<div class="sp17">
<p><h2>
Spring 2017
</h2></p>
<p>Projects: </p>
<p>The Earthack/HackDFW Team</p>
<div style="text-align:center"><p> <img src = "earthack.jpg" width = "192" height = "192"></p></div>
<p><h2>SeeGreen: </h2></p>
<b><em>Won Earthack's Best Environmental Hack Award<em></b>
<p></p>
<div style="text-align:center"><p> <img src = "seegreenlogo.jpg" width = "280" height = "200"></p></div>
<p>SeeGreen is an Android application developed during a 36 hour hackathon called Earthack. The Devpost can be found <a href ="https://devpost.com/software/seegreen-06zfpg">here</a>.</p>
<p>SeeGreen is an Android application that makes recycling easy! There are two main components: an AI chatbot that makes it easy for the user to quickly identify
what objects are recyclable through text or voice input. The second component is the OpenCV camera. The user can point their phone at an object
and identify the object automatically. This object's data is then sent to our servers, where we will identify if it will be recyclable or not.</p>
<p></p>
<p><h2>TauTalk</h2></p>
<b><em>Won Earthack's TransAmerica Google Home Challenge<em></b>
<p></p>
<div style="text-align:center"><p> <img src = "tautalk.jpg" width = "280" height = "200"></p></div>
<p>TauTalk is an Amazon Alexa Application devloped during a 36 hour hackathon called Earthack. The Devpost can be found <a href ="https://devpost.com/software/trans-alexa">here</a>. The Github Repo can be found <a href ="https://github.com/copperstick6/TransAmericaChallenge">here</a>. </p>
<p>TauTalk is a commerical application that allows companies looking to expand into the Amazon Alexa space to easily create an Amazon Alexa application. TauTalk provides companies an easy conduit to producing a lead marketing tool
All companies have to do it send their products, sample utterances, and intents to our API in a special format and they'll have a python alexa script that works along with installation instructions.</p>
<p></p>
<p><h2>Muse:</h2></p>
<p></p>
<p>An application developed during Music Hacks 2017. The Design Doc can be found <a href ="https://docs.google.com/document/d/18I_RI4HRuYL9pJhY1NFd66Vmf_rQ_RpvYB_Bk_5zuo0/edit?usp=sharing">here</a></p>
<p>People love music, but there’s no easy way to share it with friends in an organized and elegant way. In addition, it’s hard to keep track of music over many services, which is not only difficult for you but makes it difficult to share music with others. Just sending links or song names can get lost in messaging apps.
This application will allow a way for users to sync music over the major platforms (Spotify, YouTube, SoundCloud, Google Play, maybe more?). From there, you can find friends, see playlists, send songs, etc. Other music services don’t have this cross-platform social aspect because they don’t want draw to competitors.</p>
<p></p>
<p><h2>Folio: </h2></p>
<p>Folio was developed during HackUTD but wasn't finished. It was initially written using React Native, a mobile framework that supports both iOS and Android. I rewrote the entire application for Android only using Android Studio. The Github Repo can be found <a href ="https://github.com/copperstick6/Folio">here</a>.</p>
<p>Folio is a revolutionary application that is targeting the business card and resume market. It makes it super easy to send and receive business cards over Bluetooth and NFC. A user can also scan their card via OpenCV.</p>
<p></p>
<p><h2>NoJS:</h2></p>
<p>NoJS is a quick and dirty website created in the last hour of HackUTD. It searches for JavaScript script tags and it can be accessed <a href ="http://copperstick6.pythonanywhere.com/">here</a>. The Github repo can be found <a href ="https://github.com/copperstick6/JSandSteve">here</a></p>
</div>
