<div class="welcome">
<p></p>
<p>
My name is William Han and I'm a freshman in the <a href="https://www.cs.utexas.edu" target="_blank" title="UTCS page">University of Texas at Austin's Computer Science Department.</a>
<p></p>
<div style="text-align:center"><p> <img src = "self.jpg" width = "400" height = "400"></p></div>
<p>This is me!</p>
<p></p>
<p>Important Links</p>
<p><ul>
<li> {{{command "resume"}}} to be redirected my resume</li>
<li>{{{command "school"}}} to view my class projects </li>
<li>{{{command "projects"}}} to view my side projects
</ul>
<p>Type {{{command "help"}}} to view a list of available commands and navigate the site.</p>
</div>
