<div class="welcome">
<p>
My name is William Han and I'm a freshman in the <a href="https://www.cs.utexas.edu" target="_blank" title="UTCS page">University of Texas at Austin's Computer Science Department.</a>
<p>Type {{{command "help"}}} to view a list of available commands and navigate the site.</p>
</div>
